#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}
.css-bytlsb-MuiGrid2-root {
    
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-btn-primary {
    background-color: #655BD3;
}
:where(.css-dev-only-do-not-override-xu9wm8) a {
    color: #655BD3;
}
.formlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: auto;
}
.login-form {
    max-width: 300px;
    width: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Login-field {
    width: 300px; /* Adjust the width according to your design */
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Login-Form {
    display: flex;
    flex-direction: column;
  }
  
  /* Add more styling as needed for form controls */
  FormControl {
    margin-bottom: 16px;
  }
  
  Button {
    margin-top: 16px;
  }